<div class="container">
    <div class="row">
        <div class="col ">
            <h3 class="mt-4">Student Details </h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            
                <table  width="60%" cellspacing="1" class="table mt-3">
                    <tr>
                        <td> Student Id : </td>
                        <td> {{s_id}}</td>
                    </tr>
                    <tr>
                        <td> Student Name : </td>
                        <td> {{s_name}}</td>
                    </tr>
                    <tr>
                        <td> Student Email: </td>
                        <td> {{s_email}}</td>
                    </tr>
                    <tr>
                        <td> Student Mobile : </td>
                        <td> {{s_mobile}}</td>
                    </tr>
                    <tr>
                        <td> Student Course : </td>
                        <td> {{s_course}}</td>
                    </tr>
                </table>
            
        </div>
    </div>
</div>
